<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXMcIgPn0w4YuURNfA3ojirCs-jPs_QJc</string>
	<key>GCM_SENDER_ID</key>
	<string>483487288515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sofiagcora.TriviaFirebase</string>
	<key>PROJECT_ID</key>
	<string>triviafirebase-87571</string>
	<key>STORAGE_BUCKET</key>
	<string>triviafirebase-87571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483487288515:ios:cf918be95b1fc264eb6676</string>
</dict>
</plist>